#root {
	margin: 0;

	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

@media only screen and (min-width: 768px) {
  .cardHidden {
		opacity: 0;
		filter: blur(5px);
		transform: translateX(-100%) translateY(100%);
		transition: transform 1s, filter 1s, opacity 0.5s;
	}

	.cardShow {
		opacity: 1;
		filter: blur(0);
		transform: translateX(0) translateY(0);
		transition: transform 1s, filter 1s, opacity 0.5s;
		/* individual times allows for the intial transition to have delay but not the theme change */
	}
}
@media only screen and (max-width: 768px) {
	.cardHidden {
		opacity: 0;
		filter: blur(5px);
		transform: translateY(100%);
		transition: transform 1s, filter 1s, opacity 0.5s;
	}

	.cardShow {
		opacity: 1;
		filter: blur(0);
		transform: translateY(0);
		transition: transform 1s, filter 1s, opacity 0.5s;
		/* individual times allows for the intial transition to have delay but not the theme change */
	}
}

iframe {
	/* width: 50%; */
}
.resumeMobile {
	min-height: 80vh;
}

.read-the-docs {
	color: #888;
}

